Identifying duplicates and removing them

* we need removing duplicates to maintain data accuracy & to avoid misleading statistics
*for suppose we are having 3 differnet credit cards.when we enter the cvv of particular its gonna accept but what if we do the  same for all the 3 credit cards.at this instance we need to remove that duplicated value.

In [ ]:
#let start by applying a dataframe
df=DataFrame({'column1':[1,1,2,2,3,3,3],'columns2':['a','a','b','b','c','c','c'],'column3':['A','A','B','B','C','C','C']})

df.duplicated()
this gives the total n duplicate values in the entire dataset
however we cant check each and every datapoint so 
df.suplicated().sum() gives a value of duplicated items

In [6]:
#importing the dataset
import pandas as pd
df=pd.read_csv("Social_Network_Ads.csv")

In [19]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

lets try out using a dataset

In [7]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
395    False
396    False
397    False
398    False
399    False
Length: 400, dtype: bool

In [8]:
df.duplicated().sum()

33

here we are having a sum of 33 duplicated values

In [15]:
df=df.drop_duplicates()

In [16]:
df.duplicated().sum()

0

here we can see we have removed the duplicated values and updates the same in the dataset

In [17]:
pd.Series.duplicated?

to check the significance of true and false lets dive into this

#pd.Series.duplicated(self, keep='first') -> 'Series'
Docstring:
Indicate duplicate Series values.

Duplicated values are indicated as ``True`` values in the resulting
Series. Either all duplicates, all except the first or all except the
last occurrence of duplicates can be indicated.

Parameters
----------
keep : {'first', 'last', False}, default 'first'
    Method to handle dropping duplicates:

    - 'first' : Marks duplicates as ``True`` except for the first
      occurrence.
    - 'last' : Mark duplicates as ``True`` except for the last
      occurrence.
    - ``False`` : Mark all duplicates as ``True``.

Returns
-------
Series
    Series indicating whether each value has occurred in the
    preceding values.

See Also
--------
Index.duplicated : Equivalent method on pandas.Index.
DataFrame.duplicated : Equivalent method on pandas.DataFrame.
Series.drop_duplicates : Remove duplicate values from Series.

Examples
--------
By default, for each set of duplicated values, the first occurrence is
set on False and all others on True:

>>> animals = pd.Series(['lama', 'cow', 'lama', 'beetle', 'lama'])
>>> animals.duplicated()
0    False
1    False
2     True
3    False
4     True
dtype: bool

which is equivalent to

>>> animals.duplicated(keep='first')
0    False
1    False
2     True
3    False
4     True
dtype: bool

By using 'last', the last occurrence of each set of duplicated values
is set on False and all others on True:

>>> animals.duplicated(keep='last')
0     True
1    False
2     True
3    False
4    False
dtype: bool

By setting keep on ``False``, all duplicates are True:

>>> animals.duplicated(keep=False)
0     True
1    False
2     True
3    False
4     True
dtype: bool

In [22]:
#we can check duplicates for each of the column but by defdault it checks the complete row
this tells us which column is having duplicated values
df.duplicated(['EstimatedSalary','Age'],inplace=True)

0      False
1      False
2      False
3      False
4      False
       ...
395    False
396    False
397    False
398    False
399    False
Length: 367, dtype: bool

*inplace=True gives us a updated dataset after removing the duplicated values
*if inplace=False it gives separate dataset which contain duplicated values

In [26]:
df.duplicated(['EstimatedSalary','Age'],keep='last')
#it considers the  very last appearance of repaeated value as false and all others as true

0      False
1      False
2      False
3      False
4      False
       ...
395    False
396    False
397    False
398    False
399    False
Length: 367, dtype: bool